.content.contact-page {
    top: 80px;
    padding: 0 15px 0 15px;
    @media (min-width: 420px) {
      padding: 0 20px 0 20px;
    }
    @media (min-width: 520px) {
      padding: 0 25px 0 25px;
    }
    @media (min-width: 768px) {
      padding: 0 30px 0 30px;
    }
    @media (min-width: 960px) {
      padding: 0 45px 0 45px;
    }
    h3 {
      color: $color-white;
      font-family: $font-sans;
      font-weight: 700;
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 10px;
      @media (min-width: 330px) {
        font-size: 28px;
      }
      @media (min-width: 420px) {
        font-size: 32px;
      }
      @media (min-width: 520px) {
        font-size: 36px;
      }
      @media (min-width: 620px) {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 40px;
      }
      @media (min-width: 768px) {
        @media (min-height: 450px) {
          font-size: 47px;
        }
      }
      @media (min-width: 960px) {
        margin-top: 45px;
        @media (min-height: 450px) {
          font-size: 53px;
        }
      }
      @media (min-width: 1280px) {
        margin-top: 60px;
        @media (min-height: 560px) {
          font-size: 63px;
        }
      }
    }
    .contact-welcome {
      color: $color-faded-white;
      font-family: $font-sans;
      font-size: 17px;
      font-weight: 600;
      line-height: 110%;
      margin-bottom: 20px;
      @media (min-width: 620px) {
        font-size: 18px;
      }
      @media (min-width: 768px) {
        font-size: 20px;
        padding-right: 100px;
      }
      @media (min-width: 960px) {
        font-size: 22px;
        margin-bottom: 30px;
      }
      @media (min-width: 1280px) {
        font-size: 23px;
        margin-bottom: 45px;
      }
      .break-1120-min {
        display: none;
        @media (min-width: 1120px) {
          display: block;
        }
      }
    }
    form.form-contact {
      width: 98%;
      min-width: 280px;
      max-width: 800px;
      margin: 0 auto;
      input, textarea {
        margin: 0.5rem auto;
        background: $color-faux-white;
        padding: 0.5rem;
        border: none;
        float: left;
        clear: both;
        box-sizing: border-box;
        transition: color 300ms ease, border 300ms linear;
        font-family: $font-sans;
        font-size: 13px;
        @include box-shadow;
        @media (min-width: 768px) {
          margin: 0.625rem auto;
          padding: 0.625rem;
          font-size: 15px;
        }
        @media (min-width: 960px) {
          margin: 0.725rem auto;
          padding: 0.725rem;
          font-size: 17px;
        }
      }
      input[name=username], input[name=useremail], input[name=userphone] {
        width: 80%;
        @include media-768-up {
          width: 60%;
        }
      }
      input[name=usersubject] {
        width: 100%;
      }
      textarea[name=usermessage] {
        width: 100%;
        height: 160px;
        @media (min-width: 768px) {
          height: 180px;
        }
        @media (min-width: 960px) {
          height: 200px;
        }
      }
      div {
        width: 100%;
        margin: 0 auto;
        float: left;
        clear: right;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        button {
          width: auto;
          margin: 0 auto;
          padding: 0.725rem 1.5rem;
          border-radius:  7px;
          text-transform: uppercase;
          font-size: 18px;
          transition: opacity 300ms ease, background 300ms linear;
          cursor: pointer;
          font-family: $font-sans;
          opacity: 0.9;
          &:first-of-type {
            margin-right: 4rem;
          }
          &[type=submit] {
            background: $color-confirm-hover;
            color: $color-faux-white;
            opacity: 1;
          }
          &[type=reset] {
            background: $color-deny;
            color: $color-faux-white;
            &:hover {
              background: $color-deny-hover;
              opacity: 1;
            }
          }
        }
      }
    }
}