a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background: $color-faux-white;
  //background: #f2f2f2;
}

.sixteen-nine {
  @include aspect-ratio(16, 9);
}

.sixteen-four {
  @include aspect-ratio(16, 4);
}