a {
  color: inherit;
  text-decoration: inherit;
  &:focus {
    outline: none;
  }
}

body {
  background: $color-faux-white;
  color: $color-faux-black;
}

.sixteen-nine {
  @include aspect-ratio(16, 9);
}

.sixteen-four {
  @include aspect-ratio(16, 4);
}