header {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background: $color-faux-white;
  border-top: 4px solid $color-brand;
  nav.primary {
    width: calc(100vw - 10px);
    min-width: 280px;
    height: 84px;
    top: 0;
    position: absolute;
    z-index: 999;
    @media (min-width: 330px) {
      width: calc(100vw - 24px);
    }
    @media (min-width: 960px) {
      width: calc(100vw - 34px);
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      font-size: 12px;
      font-family: $font-sans;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: $color-faded-white;
      @media (min-width: 420px) {
        font-size: 13px;
      }
      @media (min-width: 560px) {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        font-size: 15px;
        letter-spacing: 0.05rem;
      }
      @media (min-width: 960px) {
        font-size: 16px;
      }
      @media (min-width: 1280px) {
        letter-spacing: 0.025rem;
        font-size: 17px;
      }
      li {
        width: auto;
        margin: 0 0.5rem 0 0.5rem;
        text-align: right;
        line-height: 84px;
        @media (min-width: 768px) {
          margin: 0 0.625rem 0 0.625rem;
        }
        @media (min-width: 960px) {
          margin: 0 0.825rem 0 0.825rem;
        }
        @media (min-width: 1280px) {
          margin: 0 1rem 0 1rem;
        }
        a.active {
          border-bottom: 1px solid $color-faded-white;
        }
      }
    }
  }
  section {
    width: 100vw;
    min-width: 300px;
    height: calc(100vh - 4px);
    min-height: 280px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      transition: padding 600ms ease;
      transition-delay: 100ms;
    }
    &.hero-contact {
      .cta {
        visibility: hidden;
        opacity: 0;
      }
    }
    .hero-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url('../images/static-overlay.png'), $background-hero-gradient;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}