header {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background: $color-faux-white;
  nav.secondary {
    z-index: 999999;
    position: fixed;
    opacity: 0;
    aside {
      width: 90px;
      height: 90px;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      background-color: $color-brand;
      background-image: url('../images/static-overlay.png');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      span.logo {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../images/csi_mono_white.svg');
        background-position: 8px 9px;
        background-size: 72px 72px;
        background-repeat: no-repeat;
        transition: all 500ms ease-in;
        @media (min-width: 768px) {
          background-position: center center;
          background-size: 80%;
        }
        &.logo-shrink {
            background-position: 12px 9px;
            background-size: 62px 62px;
        }
      }
      h5 {
        display: inline-block;
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        width: 100%;
        font-family: $font-sans;
        color: $color-white;
        font-size: 11px;
        text-indent: -3px;
        text-align: center;
        opacity: 0;
        transition: opacity 500ms ease-in;
        &.menu-visible {
          opacity: 1;
        }
      }
      /* div.hamburger {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 22px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-family: $font-sans;
        color: $color-white;
        font-size: 11px;
        h5 {
          text-indent: 1px;
        }
        @include media-min-960 {
          display: none;
        }
        span {
          display: block;
          width: 35px;
          height: 5px;
          background: $color-white;
          margin: 6px 0;
          transition: all 400ms ease;
          opacity: 1;
          &:nth-of-type(1).open {
            transform: rotate(-45deg) translate(-9px, 6px);
          }
          &:nth-of-type(2).open {
            opacity: 0;
          }
          &:nth-of-type(3).open {
            transform: rotate(45deg) translate(-8px, -8px);
          }
        }
      } */
    }
  }
  nav.primary {
    width: calc(100vw - 10px);
    min-width: 280px;
    height: 84px;
    top: 0;
    position: absolute;
    z-index: 999;
    @media (min-width: 330px) {
      width: calc(100vw - 24px);
    }
    @media (min-width: 960px) {
      width: calc(100vw - 34px);
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      font-size: 12px;
      font-family: $font-sans;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: $color-faded-white;
      @media (min-width: 420px) {
        font-size: 13px;
      }
      @media (min-width: 560px) {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        font-size: 15px;
        letter-spacing: 0.05rem;
      }
      @media (min-width: 960px) {
        font-size: 16px;
      }
      @media (min-width: 1280px) {
        letter-spacing: 0.025rem;
        font-size: 17px;
      }
      li {
        width: auto;
        margin: 0 0.5rem 0 0.5rem;
        text-align: right;
        line-height: 84px;
        @media (min-width: 768px) {
          margin: 0 0.625rem 0 0.625rem;
        }
        @media (min-width: 960px) {
          margin: 0 0.825rem 0 0.825rem;
        }
        @media (min-width: 1280px) {
          margin: 0 1rem 0 1rem;
        }
        a.active {
          border-bottom: 1px solid $color-faded-white;
        }
      }
    }
  }
  section {
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    min-height: 280px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      transition: padding 600ms ease;
      transition-delay: 100ms;
    }
    &.hero-contact {
      .cta {
        visibility: hidden;
        opacity: 0;
      }
    }
    .hero-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url('../images/static-overlay.png'), $background-hero-gradient;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}