nav.filter {
  position: relative;
  top: 40px;
  width: 100%;
  @media (min-width: 960px) {
    top: 70px;
    width: 15%;
    min-width: 100px;
    float: left;
    max-width: 315px;
  }
  ul {
    display: flex;
    margin: 0 auto;
    opacity: 1;
    line-height: 56px;
    text-align: center;
    background-color: $color-brand;
    @media (min-width: 960px) {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      top: 70px;
      width: 100%;
      min-width: 100px;
      line-height: 66px;
    }
    @media (min-width: 1280px) {
      line-height: 76px;
    }
    @media (min-width: 1440px) {
      line-height: 86px;
    }
    li {
      width: auto;
      font-family: $font-sans;
      font-size: 13px;
      color: $color-white;
      text-transform: uppercase;
      cursor: pointer;
      flex-grow: 1;
      @media (min-width: 960px) {
        font-size: 14px;
      }
      @media (min-width: 1280px) {
        font-size: 16px;
      }
      @media (min-width: 1440px) {
        font-size: 18px;
      }
      &.active {
        font-weight: 600;
        background-color: $color-dark-purple3;
      }
      &:hover {
        background-color: $color-dark-purple4;
      }
      &:first-of-type:hover {
        background-color: inherit;
      }
      h3 {
        background-color: $color-dark-purple2;
        cursor: default;
        font-size: 16px;
        text-transform: none;
        @media (min-width: 960px) {
          font-size: 18px;
        }
        @media (min-width: 1280px) {
          font-size: 20px;
        }
        @media (min-width: 1440px) {
          font-size: 22px;
        }
      }
    }
    &.ng-hide {
      opacity: 0;
    }
    &.ng-hide-add, &.ng-hide-remove {
      transition: opacity 400ms linear;
      transition-delay: 100ms;
    }
  }
}

main {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 0 20px;
  background: $color-faux-white;
  @media (min-width: 768px) {
    width: calc(100% - 90px);
    padding: 0 45px;
  }
  @media (min-width: 960px) {
    flex-wrap: nowrap;
    width: calc(100% - 120px);
    padding: 0 60px;
  }
  @media (min-width: 1280px) {
    width: calc(100% - 150px);
    padding: 0 75px;
  }
  @media (min-width: 1440px) {
    width: calc(100% - 180px);
    padding: 0 90px;
    max-width: 1600px;
  }
  section {
    position: relative;
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    @media (min-width: 960px) {
      top: 90px;
      margin-top: 0;
      width: 85%;
      max-width: calc(100% - 100px);
      min-height: 720px;
    }
  }
}

figure {
  position: relative;
  width: 90%;
  max-width: 520px;
  margin: 0 auto;
  margin-bottom: 30px;
  @include box-shadow;
  cursor: pointer;
  transition: transform 325ms ease, box-shadow 325ms ease;
  &:hover, &:active {
    transform: translateY(-2px);
  }
  @media (min-width: 520px) {
    width: 85%;
  }
  @media (min-width: 620px) {
    width: 80%;
  }
  @media (min-width: 768px) {
    width: 44%;
    max-width: none;
    margin: 0 2%;
    margin-bottom: 30px;
  }
  @media (min-width: 960px) {
    margin: 0 0 0 6%;
    margin-bottom: 60px;
  }
  @media (min-width: 1280px) {
    max-width: 960px;
  }
  .loading {
    opacity: 0;
  }
}

img.figure-image {
  width: 100%;
  display: block;
  margin: 0 auto;
  @media (min-width: 1280px) {
    max-width: 960px;
  }
}

figcaption.figure-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 325ms ease, background 325ms ease;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  &:hover, &:active {
    h4.figure-link {
      opacity: 1;
      &:after {
        transform: translateX(3px);
      }
    }
  }
  @media (min-width: 1280px) {
    max-width: 960px;
    padding: 25px;
  }
  @media (min-width: 1440px) {
    font-size: 34px;
    padding: 30px;
  }
  h2.figure-title {
    font-family: $font-serif;
    font-size: 22px;
    font-weight: 700;
    color: $color-faux-white;
    margin-bottom: 0.325rem;
    text-align: center;
    text-shadow: $shadow-text;
    @media (min-width: 450px) {
      font-size: 26px;
    }
    @media (min-width: 768px) {
      font-size: 28px;
    }
    @media (min-width: 960px) {
      font-size: 30px;
      margin-bottom: 0.625rem;
    }
    @media (min-width: 1280px) {
      font-size: 32px;
    }
    @media (min-width: 1440px) {
      font-size: 34px;
    }
  }
  h3.figure-subtitle {
    font-family: $font-sans;
    font-size: 14px;
    color: $color-faux-white;
    text-align: center;
    text-shadow: $shadow-text;
    @media (min-width: 450px) {
      font-size: 16px;
    }
    @media (min-width: 768px) {
      font-size: 18px;
    }
    @media (min-width: 960px) {
      font-size: 20px;
    }
    @media (min-width: 1280px) {
      font-size: 22px;
    }
    @media (min-width: 1440px) {
      font-size: 24px;
    }
  }
  h4.figure-link {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    font-family: $font-sans;
    font-size: 14px;
    color: $color-faux-white;
    text-align: center;
    opacity: 0;
    transition: opacity 325ms;
    text-transform: uppercase;
    letter-spacing: -0.05rem;
    text-shadow: $shadow-text;
    &:after {
      content: '\2192';
      display: inline-block;
      position: relative;
      width: auto;
      padding-left: 0.3rem;
      top: 0;
      right: 0;
      left: 6px;
      transition: opacity 325ms ease, transform 325ms ease;
    }
  }
}

.content {
  @media (min-width: 960px) {
    bottom: 20px;
    &.work-detail {
      width: 90%;
      max-width: 1400px;
      margin: 0 auto;
      bottom: 50px;
    }
    &.contact-page, &.about-page {
      width: 90%;
      max-width: 1400px;
      margin: 0 auto;
      bottom: 0;
    }
  }
}

.ng-enter {
  opacity: 0;
  transition: opacity 600ms ease;
  transition-delay: 600ms;
}
.ng-enter-prepare {
  opacity: 0;  
}
.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  opacity: 1;
  transition: opacity 600ms ease;
}
.ng-leave-active {
  opacity: 0;
}