nav.tertiary {
  position: relative;
  width: 100px;
  top: 70px;
  ul {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 1;
    line-height: 56px;
    text-align: center;
    background-color: $color-brand;
    li {
      width: auto;
      font-family: $font-sans;
      font-size: 13px;
      color: $color-white;
      transition: text-shadow 200ms ease-in, border 200ms linear;
      text-transform: uppercase;
      cursor: pointer;
      &.active {
        font-weight: 600;
        background-color: $color-darkPurple3;
      }
      &:hover {
        background-color: $color-darkPurple4;
      }
      h3 {
        background-color: $color-darkPurple2;
        text-transform: none;
        cursor: default;
      }
    }
    &.ng-hide {
      opacity: 0;
    }
    &.ng-hide-add, &.ng-hide-remove {
      transition: opacity 400ms linear;
      transition-delay: 100ms;
    }
  }
}

main {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 0 20px;
  background: $color-white;
  display: flex;
  @media (min-width: 768px) {
    width: calc(100% - 90px);
    padding: 0 45px;
  }
  section {
    min-height: 720px;
    width: calc(100% - 100px);
    position: relative;
    top: 70px;
    left: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    figure {
      width: 42%;
      position: relative;
      margin: 2%;
      @include media-min-768 {
        width: 29%;
        margin: 1%;
      }
      .loading {
        opacity: 0;
      }
      img {
        width: 100%;
      }
      figcaption {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.7);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.325s;
        transition-timing-function: linear;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
        h2 {
          font-family: $font-serif;
          font-size: 26px;
          color: #333;
          margin-bottom: 0.625rem;
        }
        h3 {
          font-family: $font-sans;
          font-size: 16px;
          color: #333;
        }
      }
    }
  }
}

.ng-enter {
  opacity: 0;
  transition: opacity 500ms linear;
  transition-delay: 500ms;
}
.ng-enter-prepare {
  opacity: 0;  
}
.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  opacity: 1;
  transition: opacity 500ms linear;
}
.ng-leave-active {
  opacity: 0;
}