// Colors
$color-faux-black: #232323;
$color-grey: #c1c1c1;
$color-white: #fff;
$color-faded-white: rgba(255, 255, 255, 0.85);
$color-faux-white: #fafafa;
$color-purple: #6b26fd;
$color-confirm: #24c159;
$color-confirm-hover: #09B543;
$color-deny: #ff5436;
$color-deny-hover: #fd4626;

$color-brand: #8851fd;
$color-dark-purple: rgba(63, 34, 125, 1);
$color-dark-purple2: rgba(63, 34, 125, 0.8);
$color-dark-purple3: rgba(63, 34, 125, 0.5);
$color-dark-purple4: rgba(63, 34, 125, 0.2);

$color-brand-rgb: rgb(136,81,253);

$background-hero-gradient: linear-gradient(to right, rgba(136,81,253,0.99) 3%, rgba(136,81,253,0.9) 8%, rgba(136,81,253,0.8) 20%, rgba(136,81,253,0.6) 60%, rgba(136,81,253,0.7) 75%, rgba(136,81,253,0.8) 85%, rgba(136,81,253,0.9) 97%, rgba(136,81,253,0.99) 100%);

// Fonts
$font-sans: 'Work Sans';
//$font-sans: 'PT Sans';
$font-serif: 'Spectral';

@mixin font-body {
  font-family: $font-sans;
  font-size: 22px;
  font-weight: 400;
  color: $color-black;
}

// Shadows
$shadow-text: 0 1px 2px rgba(0, 0, 0, 0.2);
$shadow-default: 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
$shadow-hover: 0px 8px 15px 2px rgba(0, 0, 0, 0.24), 0px 5px 22px 4px rgba(0, 0, 0, 0.22), 0px 7px 8px -4px rgba(0, 0, 0, 0.3);
@mixin box-shadow {
  box-shadow: $shadow-default;
  transition: box-shadow 325ms ease;
  &:hover, &:focus {
    box-shadow: $shadow-hover;
  }
}


// Media Queries
$media-768: 768px;
$media-960: 960px;
$media-1144: 1144px;
$media-1200: 1200px;

$value-maxLarger: 1368px;
$value-maxSmaller: 1200px;

@mixin media-768-up {
  @media (min-width: #{$media-768}) {
    @content;
  }
}

@mixin media-768-960 {
  @media (min-width: #{$media-768}) and (max-width: #{$media-960 - 1px}) {
    @content;
  }
}

@mixin media-960-1200 {
  @media (min-width: #{$media-960}) and (max-width: #{$media-1200 - 1px}) {
    @content;
  }
}

@mixin media-1200-up {
  @media (min-width: #{$media-1200}) {
    @content;
  }
}

@mixin media-min-768 {
  @media (min-width: #{$media-768}) {
    @content;
  }
}

@mixin media-min-960 {
  @media (min-width: #{$media-960}) {
    @content;
  }
}

@mixin media-min-1144 {
  @media (min-width: #{$media-1144}) {
    @content;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}