==
<nav>
    <aside>
        <span class="logo"></span>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <h5>MENU</h5>
        </div>
    </aside>
    <ul class="primary">
        <li><a href="/" class="fade-content fade-content-work" ng-class="{'active': isActiveTab('/')}">Our Work</a></li>
        <li><a class="fade-content fade-content-about" href="/about" ng-class="{active: isActiveTab('/about')}">About Us</a></li>
        <li><a class="fade-content fade-content-contact" href="/contact" ng-class="{active: isActiveTab('/contact')}">Contact</a></li>
    </ul>
</nav>
<section class="sixteen-nine" ng-class="{'sixteen-four hero-about': isActiveTab('/about'), 'sixteen-four hero-contact': isActiveTab('/contact')}">
    <div class="hero-image"></div>
    <div class="content">
        <span class="logo"></span>
        <div class="intro fade-out">
            <h2>When you're ready for <br><span>a different breed of event.</span></h2>
            <!--<p>Center Stage Industries is a full service event production company based in Seattle. We collaborate with teams from around the world to offer top notch concert, festival, and corporate event production services.</p>-->
        </div>
        <div class="cta">
            <span><a href="#/contact" class="fade-content fade-content-contact">Get in touch</a></span>
        </div>
    </div>
</section>