==
<nav class="secondary">
    <aside>
        <h5>MENU</h5>
        <!-- <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <h5>MENU</h5>
        </div> -->
    </aside>
    <ul>Mobile nav goes here</ul>
</nav>
<nav class="primary">
    <ul>
        <li>
            <!--<a href="/" class="fade-content fade-content-work" ng-class="{'active': isActiveTab('/')}">Our Work</a>-->
            <a href="#" ng-click="scrollToWork();">Our Work</a>
        </li>
        <li>
            <a href="/about" ng-class="{active: isActiveTab('/about')}">About Us</a>
        </li>
        <li>
            <a href="/contact" ng-class="{active: isActiveTab('/contact')}">Contact</a>
        </li>
    </ul>
</nav>
<section class="sixteen-nine" ng-class="{'sixteen-four hero-about': isActiveTab('/about'), 'sixteen-four hero-contact': isActiveTab('/contact')}">
    <div class="hero-image"></div>
</section>